name: Release Docker Image

on:
  push:
    tags:
      - 'v*'

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        working-directory: nangila/mini-nangila
        run: |
          IMAGE=ghcr.io/${{ github.repository }}/mini-nangila
          docker build -t $IMAGE:${{ github.ref_name }} -t $IMAGE:latest .

      - name: Push image
        working-directory: nangila/mini-nangila
        run: |
          IMAGE=ghcr.io/${{ github.repository }}/mini-nangila
          docker push $IMAGE:${{ github.ref_name }}
          docker push $IMAGE:latest

